# =====================================
# Entorno virtual
# =====================================
.venv/

# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Jupyter Notebook
# =====================================
.ipynb_checkpoints/

# =====================================
# Visual Studio Code
# =====================================
.vscode/

# =====================================
# Bases de datos
# =====================================
*.db
*.sqlite
*.sqlite3

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Archivos temporales
# =====================================
*.tmp
*.bak

# =====================================
# Sistema operativo
# =====================================
.DS_Store
Thumbs.db