# =====================================
# Entorno virtual
# =====================================
.venv/

# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Jupyter Notebook
# =====================================
.ipynb_checkpoints/

# =====================================
# Visual Studio Code
# =====================================
.vscode/

# =====================================
# Bases de datos
# =====================================
*.db
*.sqlite
*.sqlite3

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Archivos temporales
# =====================================
*.tmp
*.bak

# =====================================
# Sistema operativo
# =====================================
.DS_Store
Thumbs.db
# =====================================
# Distribución
# =====================================
dist/
build/
*.egg-info/
# =====================================
# Cobertura
# =====================================
.coverage
htmlcov/
.pytest_cache/
# =====================================
# MyPy
# =====================================
.mypy_cache/
# =====================================
# Ruff
# =====================================
.ruff_cache/
# =====================================
# Black
# =====================================
.cache/
# =====================================
# Variables de entorno
# =====================================
.env
