pandas>=2.3
numpy>=2.2
matplotlib>=3.10
requests>=2.34

plotly>=6.2
streamlit>=1.46

pytest>=9.1
black>=25.0
ruff>=0.12
mypy>=1.16
pre-commit>=4.2

geopandas>=1.0
shapely>=2.0

psycopg2-binary>=2.9
sqlalchemy>=2.0